@page "{guid}"
@using System.Globalization
@inject IBillRepository billRepository

@section Styles {
<link rel="stylesheet" href="/css/BillDetails.css" />
}
@{
    var billId = Guid.Parse(RouteData.Values["guid"].ToString());
    if (billRepository.GetById(billId) is null)
    {
        <div id="errorText" style="color:red"> Bill was not found!</div>
    }
    else
    {
        var item = billRepository.GetById(billId);
        <div class="bill-summary">
            <div t-id="description">@item.Description</div>
            <div t-id="personWhoPaid">Paid by: @(item.EntryLines[0].Person.FirstName)
                @(item.EntryLines[0].Person.LastName) </div>
            <div t-id="date">@item.Date.ToString("D")</div>
            <div t-id="amount">Total amount: @item.EntryLines[0].Amount€</div>
        </div>
        <div class="bill">
            @for (int i = 1; i < item.EntryLines.Length; i++)
            {
                <div t-id="entryLine">
                    <div t-id="person">@(item.EntryLines[i].Person.FirstName)
                        @(item.EntryLines[i].Person.LastName): </div>
                    <div t-id="amountPerPerson">@(-item.EntryLines[i].Amount)€ </div>
                </div>
            }
        </div>
    }
}