@page "{guid}"
@using System.Globalization
@inject IPersonRepository PersonRepository
@inject IBillRepository billRepository

@{
    var billId = Guid.Parse(RouteData.Values["guid"].ToString());
    if (billRepository.GetById(billId) is null)
    {
        <div id="errorText" style="color:red">Bill was not found!</div>
    }
    else
    {
        <div>
            @{ var currentBill = billRepository.GetById(billId);}
            Edit bill:
            <form id="editBillForm" method="post" action="/api/bills">
                <label for="billDescription">Description:</label>
                <input id="billDescription" type="text" name="billDescription" default="@currentBill?.Description" required/><br/>

                <label for="billAmount">Total Price:</label>
                @{
                    string totalAmountWithDot = currentBill?.EntryLines[0].Amount.ToString(CultureInfo.InvariantCulture);
                }
                <input id="billAmount" type="number" step=".01" name="billAmount" value="@totalAmountWithDot" required/><br/>

                <div id="addedPeople">
                    @foreach (EntryLine entryLine in currentBill.EntryLines)
                    {
                        <div class="personDiv">
                            <div class="text">@entryLine.Person.FirstName @entryLine.Person.LastName </div>
                            @{
                            string amountWithDot = entryLine.Amount.ToString(CultureInfo.InvariantCulture);
                            }
                            <input type="number" step=".01" value ="@amountWithDot"><br>
                            <button>Remove</button>
                        </div>
                    }
                </div>
                <div id="addPerson">
                    <label for="billPeople">Added Persons:</label>
                    <select name="billPeople" id="billPeople">
                        @foreach (Person person in PersonRepository.GetAllActive())
                        {
                            <option value="@person.FirstName @person.LastName" data-id="@person.Id">
                                @person.FirstName @person.LastName
                            </option>
                        }
                    </select>
                    <input type="button" onclick="AddPerson()" value="Add Person"/><br/>
                </div>

                <button type="button" onclick="validate()">Split the bill</button><br/>
                <text id="placeForErrorMessage" style="color: red;"></text>
            </form>
            <script type="text/javascript" src="js/SplitBill.js"></script>
        </div>
    }
}