@page
@using System.Globalization
@inject IBillRepository billRepository
@inject IPersonRepository personRepository

<h1>Hello, @personRepository.GetCurrentUser().FirstName!</h1>

@{
    var amount = billRepository.GetBalance(personRepository.GetCurrentUser());
    var isPositive = amount >= 0;
    var amountAsString = amount.ToString("C", CultureInfo.CreateSpecificCulture("de-DE"));
    var displayClass = isPositive ? "positive-amount" : "negative-amount";
}

<span id="balance" class="@displayClass">@amountAsString</span>

<ul class="entryLines">
    @foreach (var item in billRepository.GetRecentBalanceChanges(personRepository.GetCurrentUser(), 10))
    {
        <li class = "@(item.Amount < 0 ? "negative-amount" : "positive-amount")">
            <a class="clickBillDetails" href="BillDetails/@item.BillId">
                <div class="amount-description">
                    <span class="amount @(item.Amount < 0 ? "negative-amount" : "positive-amount")">
                        @item.Amount.ToString("C", CultureInfo.CreateSpecificCulture("de-DE"))
                    </span>
                    <span class="descriptionHomepage">
                        @item.Description
                    </span>
                    <span class="dateHomepage">
                        @item.Date.ToString("D", CultureInfo.CreateSpecificCulture("en-US"))
                    </span>
                </div>
            </a>
        </li>
    }
</ul>
