@page
@using System.Globalization
@inject IBillRepository billRepository
@inject IPersonRepository personRepository

<h1>Hallo, @personRepository.GetOrCreateUser(HttpContext).FirstName!</h1>

@{
    var amount = billRepository.GetBalance(personRepository.GetOrCreateUser(HttpContext));
    var isPositive = amount >= 0;
    var amountAsString = amount.ToString("C", CultureInfo.CreateSpecificCulture("fr-FR"));
    var displayClass = isPositive ? "text-success" : "text-danger";
}

<div class="container">
    <br>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
            <span t-id="balance" class="p-3 border rounded @displayClass" style ="background-color: #f7f7f7">
                <span class="text-dark">Dein Guthaben:</span> @amountAsString
            </span>
        </div>
    </div>

    <br>

    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="list-group">
                @foreach (var item in billRepository.GetRecentBalanceChanges(personRepository.GetOrCreateUser(HttpContext), 1, 5))
                {
                    <div t-id="entryLine">
                        <a class="list-group-item list-group-item-action text-decoration-none text-dark" t-action="showBillDetails" href="BillDetails/@item.BillId">
                            <div class="row">
                                <div class="col-3 @(item.Amount < 0 ? "text-danger" : "text-success")" t-id="amount">
                                    @item.Amount.ToString("C", CultureInfo.CreateSpecificCulture("fr-FR"))
                                </div>
                                <div class="col-5" t-id="description">
                                    @item.Description
                                </div>
                                <div class="col-4 text-end fst-italic" t-id="date">
                                    @item.Date.ToString("D", CultureInfo.CreateSpecificCulture("de-AT"))
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


User details:
<dl>
    <dd>IsAuthenticated</dd>
    <dt>@(User.Identity?.IsAuthenticated ?? false)</dt>
    <dd>Name</dd>
    <dt>@User.Identity?.Name</dt>
    @foreach (var claim in User.Claims)
    {
        <dd>@claim.Type</dd>
        <dt>@claim.Value</dt>
    }
</dl>