@page
@using System.Collections.Immutable
@using System.Globalization
@inject IConfiguration Configuration
@inject IBillRepository billRepository
@inject IPersonRepository personRepository

<h1 class="text-center">Deine Rechnungen:</h1>
    @{
        var currentUser = personRepository.GetOrCreateUser(HttpContext.User);
        int pageSize = Configuration.GetValue<int>("PageSize");

        int page;

        if (!Int32.TryParse(Request.Query["page"], out page) || page <= 0)
        {
            page = 1;
        }

        var billsPaginated = billRepository.GetRecentBalanceChanges(currentUser, page, pageSize);
    }

    <div class="entryLines list-group mx-auto">
        @foreach (var item in billsPaginated.Items)
        {
            <a t-id="entryLine" class="list-group-item list-group-item-action text-decoration-none text-dark w-100" t-action="showBillDetails" href="../BillDetails/@item.BillId">
                <div class="amount-description">
                    <div class="row">
                        <div class="col-3 @(item.Amount < 0 ? "text-danger" : "text-success")" t-id="amount">
                            @(item.Amount)€
                        </div>
                        <div class="col-5" t-id="description">
                            @item.Description
                        </div>
                        <div class="col-4 text-end fst-italic" t-id="date">
                            @item.Date.ToString("D", CultureInfo.CreateSpecificCulture("de-AT"))
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
    
    <br>
    
    <div class="pagination justify-content-center">
        @if (billsPaginated.HasPreviousPage)
        {
            <a href="../ShowBills/?page=@(page - 1)" t-action="prevButton" t-click-behavior="Click">Zurück</a>
        }

        <span class="pageInfo">&nbsp;Seite @(page)/@billsPaginated.TotalPages&nbsp;</span>

        @if (billsPaginated.HasNextPage)
        {
            <a href="../ShowBills/?page=@(page + 1)" t-action="nextButton" t-click-behavior="Click">Vor</a>
        }
    </div>

    @if (!billsPaginated.Items.Any())
    {
        <div class="errorMessage">Keine Rechnung für diese Seite gefunden.</div>
    }