@page
@using System.Globalization
@inject IPersonRepository PersonRepository

<h1 class="text-center">Rechnung aufteilen:</h1>
<form id="splitBillForm" method="post" action="/api/bills" class="mx-auto">

    @{
    var today = DateTime.Today.ToString("yyyy-MM-dd");
    }
    <div class="row">
        <div class="col-12">
            <label for="billDate">Datum:</label>
            <input class="form-control" id="billDate" t-id="billDate" type="date" name="billDate" value="@today" required="required"></input><br>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label for="billDescription">Beschreibung:</label>
            <input class="form-control" id="billDescription" t-id="billDescription" type="text" name="billDescription" required="required"></input><br>
        </div>
    </div>

    <div id="addedPeople" t-id="addedPeople"></div>

    <div class="row" id="addPerson">
        <div class="col-12">
            <label for="billPeople">Person hinzufügen:</label>
            <div class="d-flex">
                <select class="form-select me-2" name="billPeople" id="billPeople" t-id="billPeople">
                    @foreach (Person person in PersonRepository.GetAllActive())
                    {
                        <option value="@person.FirstName @person.LastName" data-id="@person.Id">@person.FirstName @person.LastName </option>
                    }
                </select>
                <input t-action="addPerson" t-click-behavior="Click" type="button" onclick="AddPerson()" class="btn btn-secondary" value="Person hinzufügen"></input>
            </div><br>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label for="billAmount">Gesamtbetrag:</label>
            <input class="form-control" id="billAmount" t-id="billAmount" name="billAmount" readonly ></input>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-12">
            <button t-action="splitBill" t-click-behavior="Click" type="button" onclick="validate('splitBillForm')" class="btn btn-primary">Rechnung aufteilen</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <text id="placeForErrorMessage" t-id="placeForErrorMessage" style="color: red;"></text>
        </div>
    </div>
</form>

<script type="text/javascript" src="js/editableBill.js"></script>