@page
@using System.Globalization
@inject IBillRepository billRepository
@inject IPersonRepository personRepository

Hello, @personRepository.GetCurrentUser().FirstName!

@{
    var amount = billRepository.GetBalance(personRepository.GetCurrentUser());
    var isPositive = amount >= 0;
    var displayColor = isPositive ? "green" : "red";
    var sign = isPositive ? "+" : "-";
    var amountAsString = sign + " " + amount.ToString("C", CultureInfo.CreateSpecificCulture("de-DE"));
}

<div id="balance" style="color: @displayColor">@amountAsString</div>

<ul id="balanceChanges" style="list-style: none">
    @foreach (var item in billRepository.GetRecentBalanceChanges(personRepository.GetCurrentUser(), 10))
    {
        <li>

            <div class="amount" style="display: inline; color: @(item.Amount < 0 ? "red" : "green");">@item.Amount€</div>

            <div class="date" style="display: inline;">@item.Date.ToString("D", CultureInfo.CreateSpecificCulture("en-US"))</div>
            <div class="description" style="display: inline;">@item.Description</div>
        </li>
    }
</ul>